{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{%static 'css/boards_style.css'%}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div><a href="{% url 'users:main'%}"> <img src="{% static 'image/logo.png' %}" width="142;"> </a></div>
  <br>

<article>
  <form action="/board/create" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      카테고리
    <select name="postcategory" id="">
    {%  for categoryinfo in categoryinfo %}
      <option value="{{categoryinfo.name}}">{{categoryinfo.name}}</option>
      <!-- <input hidden type="checkbox" name="postcategory" value="{{categoryinfo.name}}" id="{{categoryinfo.name}}">
      <label for="{{categoryinfo.name}}">{{categoryinfo.name}}</label> -->
    {% endfor %}
    </select>
    </div>
    <div>제목 <input type="text" name="boardtitle"/></div>
    <div>이미지 <input type="file" name="boardphoto" id="boardphoto" /></div>
    <div><center><textarea name="boardcontext" id="" cols="188" rows="30"></textarea></center></div>

    <div><button type="submit" />작성</button> <button><a href="{% url 'boards:board' %}" style="color:white;">취소</a></button></div></article>
  </form>



  </form>
</body>
</html>