{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>게시물생성</div>
  <br>


  <form action="/board/create" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      게시글 카테고리
    <select name="postcategory" id="">
    {%  for categoryinfo in categoryinfo %}
      <option value="{{categoryinfo.name}}">{{categoryinfo.name}}</option>
      <!-- <input hidden type="checkbox" name="postcategory" value="{{categoryinfo.name}}" id="{{categoryinfo.name}}">
      <label for="{{categoryinfo.name}}">{{categoryinfo.name}}</label> -->
    {% endfor %}
    </select>
    </div>
    <div>제목 : <input type="text" name="boardtitle"/></div>
    <div>사진 : <input type="file" name="boardphto" id="boardphto" /></div>
    <div>내용 : <textarea name="boardcontext" id="" cols="30" rows="10"></textarea></div>

    <div><input type="submit" value="글 작성" /></div>
    <div><a href="{% url 'boards:board' %}">취소하기</a></div>
  </form>



  </form>
</body>
</html>