{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{%static 'css/boards_style.css'%}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div><button><a href="{% url 'users:main'%}"> 홈 </a></button></div>
  <h1 style="background-color:#FFFACD; width:170px; padding:4px; border-radius: 8px;">투자게시판</h1>
  <article>
  <div><button><a href="{% url 'boards:create' %}">글작성</a></button></div>

  {% for boardinfo in boardinfo %}
  <div>
    <div><a href="{% url 'boards:detail' id=boardinfo.id %}">[{{boardinfo.category.name}}]{{boardinfo.title}}</a></div>
    <div>{{boardinfo.userid.username}} {{boardinfo.date}}</div>
  </div>
  <br>
  {% endfor %}
</article>
</body>
</html>