{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <style>
 </style>
 <link rel="stylesheet" type="text/css" href="{% static 'css/boards_style.css' %}?after">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div><a href="{% url 'users:main'%}"> <img src="{% static 'image/logo.png' %}" width="142;"> </a></div>
  <div><button style="position:relative; left:1380px;"><a href="{% url 'boards:create' %}"style="color:white;">글작성</a></button></div>
  <table>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일시</th>
  {% for boardinfo in boardinfo %}
    <tr><td><a href="{% url 'boards:detail' id=boardinfo.id %}"style="font-size: 150%; font-weight: 500; color:black;">[{{boardinfo.category.name}}]{{boardinfo.title}}</a></td>
      <td style="text-align: center;">{{boardinfo.userid.username}}</td><td style="text-align: center;"> {{boardinfo.date}}</td></tr>
  {% endfor %}
</table>
</body>
</html>