@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@200&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    /* 글꼴 이름: Noto Sans Korean */
  }

ul{
    list-style: none;
}
/* <ul>태그의 불릿 기호 없애기 */
  
#container {
    margin:0 auto;
    width:1200px;
  }

a {
   text-decoration:none;  /* 텍스트 링크 밑줄 없애기  */
  }

header{ 
    width:100%;
    height:100px;
  }
  /* 로고 + 네비게이션바 + 로그인 상태 */

#logo1{
    float:left; 
    width:250px;
    height:100px;
    line-height: 100px;
    padding-left: 20px;
}
/* 내일은 주식왕 로고 */

.login_logo{
    float: center;
    /* width:250px;
    height:100px; */
    line-height: 100px;
    padding-left: 20px;
}
/* 로그인창에서 로고 */

#sign_state{
    float:right; 
    width:1000px; 
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: large;
}
/* 로그인 상태 표시 */

/* 내비게이션 영역~ */
nav{ 
    clear:both;
    width:100%; 
    height:100px;
    padding-top:40px;
    /* background-color: green; */
  }
  #top_menu {  
    height:60px; 
  }
  #top_menu > li {
    float:left;
    position: relative;
    font-size: x-large;
  }
  #top_menu > li > a{
    display:block;
    color: #919191;
    font-weight:600;
    padding:20px 60px;
  }
  #top_menu > li > a > span {
    font-size : 0.5em;
    color: #919191;
  }
  #top_menu > li > a:hover {
    color:#4b64ea;
    text-shadow:0 -1px #919191;
  }
  
  #top_menu > li > ul {
    display: none;
    position:absolute;
    width:250px;
    background:rgba(255,255,255,0.6);
    left:20px;     
    margin:0;
  } /* 서브 메뉴 */
  #top_menu > li > ul > li {    
    padding:10px 10px 10px 30px;
  }
  #top_menu > li > ul > li > a {   
    padding:10px;
    color:black;
    font-size: x-large; 
  }
  #top_menu > li:hover > ul {
    display: block;
    z-index:10;
  }
  #top_menu > li > ul > li > a:hover {
    color:red;
  } 
  /* ~내비게이션 영역 */

.before_login{
    color: #919191;
    font-size: 200%;
}
.before_login a[href]{
    color: #4b64ea;
}
/* 로그인 전 로그인/회원가입 버튼 */

/*   이미지 슬라이드 쇼 영역    */

#slide_show {   
  clear:both;   /* 플로팅 해제 */
  /* width:100%; */
  width: 1680px;
  height:900px;
  overflow:hidden;   /* 영역 넘치면 감춤 */ 
  position: relative;
}
#slides {
  position: absolute;
}

#slides > img {
  /* width:100%; */
  width: 1680px;
  /* height: 200%; */
  float:left;  /* 가로로 배치 */
}

.slide_btn{
  position: absolute;
  height:100%;  /* 위아래 가득 차게 */ 
  top:0;
  border:none; 
  padding:20px;
  background-color: transparent;
  color:black; 
  font-weight:800;
  font-size: 24px;
  opacity: 0.5;
}
#prev {
  left:0;  /* 왼쪽으로 붙여서 */ 
}
#next {
  right:0;  /* 오른쪽으로 붙여서 */ 
}
.slide_btn:hover {
  background-color:#222;  /* 짙은 회색 배경 */
  color:#fff;   /* 흰색 화살표 */ 
  opacity:0.6;   /* 불투명도를 조금 높임 */ 
  cursor:pointer;  /* 커서 모양을 포인터로 */ 
}
.slide_btn:focus {
  outline:0;  /* 아웃트라인 없앰 */
}
