@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@200&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    /* 글꼴 이름: Noto Sans Korean */
}
* div :not(header){
    margin:20px;
}

/* login.html */

.logo{
    text-align: center;
}
/* 로고(로그인, 회원가입 창) */

.login_local_form, .signup_form{
    width: 90%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    letter-spacing: 0.2em;
    font-size: 150%;
    font-weight: lighter;
    border-width: 5px;
}
/* 로그인 창(소셜 로그인 제외) */

.social_title{
    font-size: larger;
}

#login{
    flex-direction: column;
    border: 5px solid black;
    width: 70%;
}
#login_other{
    flex-direction: column;
    text-align: center;
}
.social{
    flex-direction: column;
    margin-top: 70px;
    /* margin-right: 50px; */
}
.signup{
    flex-direction: column;
}
.login_local_form{
    text-align: center;
}
/* 전체 가운데 정렬 */

.login_social_img3{
    width: 100%;
    height: 50%;
}
input[type=text], input[type=password]{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.login_loginbtn, .signup_btn{
    width: 300px;
    height: 40px;
    background-color: #4b64ea;
    color: #e9e9e9;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.2em;
}
/* 회원가입 생성하기 버튼 */

.loginbox4{
    justify-content: space-around;
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-left: 36%;
    margin-right: 40%;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    letter-spacing: 0.2em;
    font-size: 25px;
    background:#d9d9d9;
}
.loginbox4 a[href]{
    color: white;
}
.loginbox4 a:hover, .loginbox4 a:focus{
    color: #4b64ea;
}
/* 로그인, 회원가입 버튼 */

.login_title, .social_title{
    color: #4b64ea;
    font-size: 150%;
    font-weight: bold;
}
/* 로그인 페이지 제목 & 소셜 로그인 제목 */

.login_social_btn1{
    width: 200px;
    height: auto;
    padding: 0px;
    text-align: center;
}
.login_social_btn2{
    width: 200px;
    height: auto;
    padding: 0;
    text-align: center;
}
/* 소셜 로그인 버튼 */

/* signup.html */
.signup_title{
    font-size: 200%;
    color: #4b64ea;
}

/* myuser.html */
#user{
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 200%;
    /* text-align: center; */
}
.user_img{
    width: 600px;
    height: 400px;
}
.user_content{
    flex-direction: column;
}
.user_info{
    text-align: left;
}
/* 배치 */

.modify_btn{
    width: 200px;
    height: 50px;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    letter-spacing: 0.2em;
    font-size: 80%;
    font-weight: 500;
    border-width: 5px;
    line-height: 30px;

    background-color: #4b64ea;
}
.modify_btn a[href]{
    color: #d9d9d9;
}
.modify_btn a:hover, .modify_btn a:focus{
    color: #919191;
}

/* 개인정보 수정 */
#modify{
    display: flex;
    text-align: center;
    flex-direction: row;
    font-size: 200%;
    text-align: center;
    margin-left: 600px;
}

textarea{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=checkbox]{
    width: 50px;
    height: 30px;
}
/* input[type=submit]{
    width: 300px;
    height: 40px;
    background-color: #4b64ea;
    color: #d9d9d9;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.2em;
} */