{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_3.css' %}">
</head>

<body>
    <div id="container">
      {% if user.is_authenticated%}
        <header>
            <div id="logo1">
              <a href="{% url 'users:main' %}">
                    <h1>
                        <!-- <img src="{% static 'image/logo.png' %}" style="width:200px; height:100px; margin: 0px;" class="login_logo"> -->
                        <!-- Stock Site -->
                        <img src="{% static 'image/logo3.png' %}" style="width:100px; height:100px">
                    </h1>
                </a>             
            </div>

            <nav>
                <ul id="top_menu">
                  <!-- <li style="margin-left: 400px;"><a href="{% url 'boards:board' %}">투자게시판</a></li>
                  <li style="margin-left: 400px;"> -->
                    <li><a href="{% url 'boards:board' %}">투자게시판</a></li>
                    <li>
                    <a href="#">간편주식데이터<span class="arrow"> ▼</span></a>
                    <ul>
                      <li><a href="http://15.164.133.23:8000/stock-data/">주가 예측</a></li>
                      <li><a href="https://mjucapstone.herokuapp.com/">주가 분석</a></li>
                      <li><a href="http://3.37.169.195:8000/">주식 뉴스</a></li>
                    </ul>
                  </li>
                  <li><a href="/myuser/{{user.id}}">마이페이지</a></li>
                  <li><a href="{% url 'users:log_out'%}"\>로그아웃</a></li>
                  <!-- <li><a href="/myuser/{{user.id}}"><img src="https://img.icons8.com/pastel-glyph/64/919191/gender-neutral-user.png"/></a></li> -->
                </ul>
            </nav>
        </header>
            
        <div id="background_img">
          <img src="{% static 'image/stock6.jpg' %}" style="width: 100%">
        </div>

        <div id="contents">
          <div id="links">
            <ul>
              <li>
                <a href="http://15.164.133.23:8000/stock-data/">
                  <span id="stock_link1"></span>
                  <p>주가 예측</p>
                </a>
              </li>
              <li>
                <a href="https://mjucapstone.herokuapp.com/">
                  <span id="stock_link2"></span>
                  <p>주가 분석</p>
                </a>            
              </li>
              <li>
                <a href="http://3.37.169.195:8000/">
                  <span id="stock_link3"></span>
                  <p>주식 뉴스</p>
                </a>            
              </li>
            </ul>
          </div>
        </div>

          <footer>    
            <div id="bottom_menu">
              <ul>
                <li><a href="http://15.164.133.23:8000/stock-data/">주가 예측</a></li>
                <li><a href="https://mjucapstone.herokuapp.com/">주가 분석</a></li>
                <li><a href="http://3.37.169.195:8000/">주식 뉴스</a></li>
              </ul>
            </div>
            <div id="group">
              <p>명지대 캡스톤디자인1 5조</p> 
            </div>     
          </footer>

          {% else %}
          <header>
            <div id="logo1">
              <a href="{% url 'users:main' %}"\>
                    <h1>
                        <!-- <img src="{% static 'image/logo.png' %}" style="width:200px; height:100px; margin: 0px;" class="login_logo"> -->
                        <img src="{% static 'image/logo3.png' %}" style="width:100px; height:100px">
                    </h1>
                </a>             
            </div>

            <nav>
                <ul id="top_menu">
                  <!-- <li style="margin-left: 400px;"><a href="{% url 'boards:board' %}">투자게시판</a></li>
                  <li style="margin-left: 400px;"> -->
                    <li><a href="#">투자게시판</a></li>
                    <li>
                    <a>간편주식데이터<span class="arrow"> ▼</span></a>
                    <ul>
                      <li><a href="http://15.164.133.23:8000/stock-data/">주가 예측</a></li>
                      <li><a href="https://mjucapstone.herokuapp.com/">주가 분석</a></li>
                      <li><a href="http://3.37.169.195:8000/">주식 뉴스</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'users:log_in' %}">마이페이지</a></li>
                  <li><a href="{% url 'users:log_in' %}">로그인</a></li>
                </ul>
            </nav>
        </header>

        <div id="background_img">
          <img src="{% static 'image/stock6.jpg' %}" style="width: 100%">
        </div>
        
        <!-- <div id="slide_show">
          <div id="slides">
            <img src="{% static 'image/slide1.png' %}" alt="">
            <img src="{% static 'image/slide2.png' %}" alt="">
            <img src="{% static 'image/slide3.png' %}" alt="">
            <button id="prev" class="slide_btn">&lang;</button>
            <button id="next" class="slide_btn">&rang;</button>
          </div>
        </div> -->

        <div id="contents">
          <div id="links">
            <ul>
              <li>
                <a href="http://15.164.133.23:8000/stock-data/">
                  <span id="stock_link1"></span>
                  <p>주가 예측</p>
                </a>
              </li>
              <li>
                <a href="https://mjucapstone.herokuapp.com/">
                  <span id="stock_link2"></span>
                  <p>주가 분석</p>
                </a>            
              </li>
              <li>
                <a href="http://3.37.169.195:8000/">
                  <span id="stock_link3"></span>
                  <p>주식 뉴스</p>
                </a>            
              </li>
            </ul>
          </div>
        </div>
          <!-- 각각 페이지로 넘어가기 -->
          <footer>    
            <div id="bottom_menu">
              <ul>
                <li><a href="http://15.164.133.23:8000/stock-data/">주가 예측</a></li>
                <li><a href="https://mjucapstone.herokuapp.com/">주가 분석</a></li>
                <li><a href="http://3.37.169.195:8000/">주식 뉴스</a></li>
              </ul>
            </div>
            <div id="group">
              <p>명지대 캡스톤디자인1 5조</p> 
            </div>     
          </footer>
          {% endif %} 
    </div> 

    <!-- <script src="{% static 'js/slideshow.js' %}"></script> -->
</body>
</html>