<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>메인페이지</h1>
  {% if user.is_authenticated%}

  <div><a href="{% url 'boards:board' %}">투자게시판</a></div>

  <div><span>간편주식데이터</span></div>
  
  <h6 class="display-7 fw-bold">{{user.username}}님이 로그인중 <a href="/myuser/{{user.id}}">내 페이지가기</a></h6><br />
  <a href="{% url 'users:log_out'%}" \>Logout</a>
  {% else %}  
  <a href="{% url 'users:log_in' %}" >Login</a>

  <a href="{% url 'users:sign_up' %}">Signup</a>
  {% endif %}
</body>
</html>