{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container" id="user">
    <div class="user_name"> 사용자 : {{myuser.username}}님이</div>
    <div class="user_img">이미지 : <img src="media/{{myuser.userimage}}" alt=""></div>
    <div class="intro"> 자기소개 : {{ myuser.usermemo }} </div>
    <div class="modify_btn"> <a href="{% url 'users:myusercreate' id=user.id%}">수정하기</a> </div>
  </div>
</body>
</html>